@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple defaults */
html,
body,
#root {
  height: 100%;
}
body {
  background-color: #ffffff;
  color: #111827; /* Tailwind gray-900 */
}
